<link rel="stylesheet" href="bootstrap.min.css" >

<script src="bootstrap.min.js" ></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>
                Bulls Developers
            </h2>
            <p>
                Queremos llorar.
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Fundecooperación
            </h2>
            <p>
                Sitio: fundecooperacion.org<br />amatarrita@fundecooperacion.org
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Desarrolladores
            </h2>
            <p>
                bulldevelopers@gmail.com
            </p>
        </div>
    </div>
</div>